body {
  margin: 5px;
}

.application {
  max-width: 768px;
  margin: 0 auto;
}

.application__heading {  
  display: flex;
  gap: 10px;

  margin-bottom: 10px;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  height: 27px;
}

.button--small {
  padding: 2px;
  height: 24px;
}

.configurator {  
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 10px;
}

.configurator__name {
  height: 20px;
}

.track {
  margin-bottom: 10px;
}

.track__header {
  padding-top: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.track__content {
  display: flex;
}

.track__road {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding-top: 5px;
  padding-right: 100px;
  background-color: lightgray;
  overflow-x: hidden;
  position: relative;
}

.track__road::before {
  content: "";
  right: 0px;
  top: 0;
  background-color: green;
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
}

.engine-status {
  display: flex;
  flex-direction: column;
}

.engine-status__start {
  flex: 0 0 50%;
}

.engine-status__stop {
  flex: 0 0 50%;
}

.engine-status__broken {
  padding: 3px;
  border: 1px solid black;
  height: 20px;
  text-align: center;
  
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.garage__buttons {
  display: flex;
  gap: 10px;

  margin-bottom: 10px;
}

.garage__cars-counter {
  margin: 0;
  margin-bottom: 10px;
}

.garage__page-number {
  margin: 0;
  margin-bottom: 10px;
}
