body {
  margin: 5px;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
}

.configurator {
  margin-bottom: 20px;
}

.track {
  border: 1px solid black;
  margin-bottom: 30px;
  &__header {
    margin-bottom: 10px;
  }

  &__road {
    padding-top: 5px;
    background-color: lightgray;
  }
}
